.navbar img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.welcome {
    background: url('../../../assets/static/img/background.jpg');
    background-position: center center;
    background-size: cover;
}
